/*
AccountingService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ReportsAPIService ReportsAPI service
type ReportsAPIService service

type ApiGetTrialBalanceAsyncRequest struct {
	ctx context.Context
	ApiService *ReportsAPIService
	tenantId *string
	fiscalPeriodId *string
	financialBookId *string
	currencyId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetTrialBalanceAsyncRequest) TenantId(tenantId string) ApiGetTrialBalanceAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiGetTrialBalanceAsyncRequest) FiscalPeriodId(fiscalPeriodId string) ApiGetTrialBalanceAsyncRequest {
	r.fiscalPeriodId = &fiscalPeriodId
	return r
}

func (r ApiGetTrialBalanceAsyncRequest) FinancialBookId(financialBookId string) ApiGetTrialBalanceAsyncRequest {
	r.financialBookId = &financialBookId
	return r
}

func (r ApiGetTrialBalanceAsyncRequest) CurrencyId(currencyId string) ApiGetTrialBalanceAsyncRequest {
	r.currencyId = &currencyId
	return r
}

func (r ApiGetTrialBalanceAsyncRequest) ApiVersion(apiVersion string) ApiGetTrialBalanceAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetTrialBalanceAsyncRequest) XApiVersion(xApiVersion string) ApiGetTrialBalanceAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetTrialBalanceAsyncRequest) Execute() (*TrialBalanceDtoEnvelope, *http.Response, error) {
	return r.ApiService.GetTrialBalanceAsyncExecute(r)
}

/*
GetTrialBalanceAsync Trial balance for a fiscal period

Returns the per-account posted debit/credit totals for the given fiscal period (optionally scoped to a single financial book), plus grand totals and the Σdebits == Σcredits balanced flag. Amounts are normalized to the target currency (default USD) from the stored USD reporting amounts.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTrialBalanceAsyncRequest
*/
func (a *ReportsAPIService) GetTrialBalanceAsync(ctx context.Context) ApiGetTrialBalanceAsyncRequest {
	return ApiGetTrialBalanceAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TrialBalanceDtoEnvelope
func (a *ReportsAPIService) GetTrialBalanceAsyncExecute(r ApiGetTrialBalanceAsyncRequest) (*TrialBalanceDtoEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrialBalanceDtoEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportsAPIService.GetTrialBalanceAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/AccountingService/Reports/TrialBalance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}
	if r.fiscalPeriodId == nil {
		return localVarReturnValue, nil, reportError("fiscalPeriodId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "fiscalPeriodId", r.fiscalPeriodId, "form", "")
	if r.financialBookId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "financialBookId", r.financialBookId, "form", "")
	}
	if r.currencyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currencyId", r.currencyId, "form", "")
	} else {
		var defaultValue string = "USD.USA"
		r.currencyId = &defaultValue
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
