/*
CatalogService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItemReturnPoliciesAPIService ItemReturnPoliciesAPI service
type ItemReturnPoliciesAPIService service

type ApiCountItemReturnPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemReturnPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiCountItemReturnPoliciesAsyncRequest) ItemId(itemId string) ApiCountItemReturnPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiCountItemReturnPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiCountItemReturnPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiCountItemReturnPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiCountItemReturnPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCountItemReturnPoliciesAsyncRequest) Execute() (*Int32Envelope, *http.Response, error) {
	return r.ApiService.CountItemReturnPoliciesAsyncExecute(r)
}

/*
CountItemReturnPoliciesAsync Count item return policies

Counts all return policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountItemReturnPoliciesAsyncRequest
*/
func (a *ItemReturnPoliciesAPIService) CountItemReturnPoliciesAsync(ctx context.Context) ApiCountItemReturnPoliciesAsyncRequest {
	return ApiCountItemReturnPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Int32Envelope
func (a *ItemReturnPoliciesAPIService) CountItemReturnPoliciesAsyncExecute(r ApiCountItemReturnPoliciesAsyncRequest) (*Int32Envelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Int32Envelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemReturnPoliciesAPIService.CountItemReturnPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemReturnPolicies/Count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemReturnPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemReturnPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemReturnPoliciesAsyncRequest) ItemId(itemId string) ApiGetItemReturnPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemReturnPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiGetItemReturnPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemReturnPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemReturnPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemReturnPoliciesAsyncRequest) Execute() (*ItemReturnPolicyDtoListEnvelope, *http.Response, error) {
	return r.ApiService.GetItemReturnPoliciesAsyncExecute(r)
}

/*
GetItemReturnPoliciesAsync Get item return policies

Retrieves all return policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemReturnPoliciesAsyncRequest
*/
func (a *ItemReturnPoliciesAPIService) GetItemReturnPoliciesAsync(ctx context.Context) ApiGetItemReturnPoliciesAsyncRequest {
	return ApiGetItemReturnPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ItemReturnPolicyDtoListEnvelope
func (a *ItemReturnPoliciesAPIService) GetItemReturnPoliciesAsyncExecute(r ApiGetItemReturnPoliciesAsyncRequest) (*ItemReturnPolicyDtoListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemReturnPolicyDtoListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemReturnPoliciesAPIService.GetItemReturnPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemReturnPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemReturnPolicyByIdAsyncRequest struct {
	ctx context.Context
	ApiService *ItemReturnPoliciesAPIService
	itemReturnPolicyId string
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemReturnPolicyByIdAsyncRequest) ItemId(itemId string) ApiGetItemReturnPolicyByIdAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemReturnPolicyByIdAsyncRequest) ApiVersion(apiVersion string) ApiGetItemReturnPolicyByIdAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemReturnPolicyByIdAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemReturnPolicyByIdAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemReturnPolicyByIdAsyncRequest) Execute() (*ItemReturnPolicyDtoEnvelope, *http.Response, error) {
	return r.ApiService.GetItemReturnPolicyByIdAsyncExecute(r)
}

/*
GetItemReturnPolicyByIdAsync Get item return policy by ID

Retrieves a specific return policy for an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemReturnPolicyId
 @return ApiGetItemReturnPolicyByIdAsyncRequest
*/
func (a *ItemReturnPoliciesAPIService) GetItemReturnPolicyByIdAsync(ctx context.Context, itemReturnPolicyId string) ApiGetItemReturnPolicyByIdAsyncRequest {
	return ApiGetItemReturnPolicyByIdAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemReturnPolicyId: itemReturnPolicyId,
	}
}

// Execute executes the request
//  @return ItemReturnPolicyDtoEnvelope
func (a *ItemReturnPoliciesAPIService) GetItemReturnPolicyByIdAsyncExecute(r ApiGetItemReturnPolicyByIdAsyncRequest) (*ItemReturnPolicyDtoEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemReturnPolicyDtoEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemReturnPoliciesAPIService.GetItemReturnPolicyByIdAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemReturnPolicies/{itemReturnPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemReturnPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemReturnPolicyId, "itemReturnPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRelateItemToReturnPolicyAsyncRequest struct {
	ctx context.Context
	ApiService *ItemReturnPoliciesAPIService
	tenantId *string
	itemId *string
	returnPolicyId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRelateItemToReturnPolicyAsyncRequest) TenantId(tenantId string) ApiRelateItemToReturnPolicyAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRelateItemToReturnPolicyAsyncRequest) ItemId(itemId string) ApiRelateItemToReturnPolicyAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRelateItemToReturnPolicyAsyncRequest) ReturnPolicyId(returnPolicyId string) ApiRelateItemToReturnPolicyAsyncRequest {
	r.returnPolicyId = &returnPolicyId
	return r
}

func (r ApiRelateItemToReturnPolicyAsyncRequest) ApiVersion(apiVersion string) ApiRelateItemToReturnPolicyAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRelateItemToReturnPolicyAsyncRequest) XApiVersion(xApiVersion string) ApiRelateItemToReturnPolicyAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRelateItemToReturnPolicyAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RelateItemToReturnPolicyAsyncExecute(r)
}

/*
RelateItemToReturnPolicyAsync Relate item to return policy

Relates an item to an existing return policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRelateItemToReturnPolicyAsyncRequest
*/
func (a *ItemReturnPoliciesAPIService) RelateItemToReturnPolicyAsync(ctx context.Context) ApiRelateItemToReturnPolicyAsyncRequest {
	return ApiRelateItemToReturnPolicyAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ItemReturnPoliciesAPIService) RelateItemToReturnPolicyAsyncExecute(r ApiRelateItemToReturnPolicyAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemReturnPoliciesAPIService.RelateItemToReturnPolicyAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemReturnPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}
	if r.returnPolicyId == nil {
		return nil, reportError("returnPolicyId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "returnPolicyId", r.returnPolicyId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRemoveReturnPolicyFromItemAsyncRequest struct {
	ctx context.Context
	ApiService *ItemReturnPoliciesAPIService
	tenantId *string
	itemId *string
	itemReturnPolicyId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRemoveReturnPolicyFromItemAsyncRequest) TenantId(tenantId string) ApiRemoveReturnPolicyFromItemAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRemoveReturnPolicyFromItemAsyncRequest) ItemId(itemId string) ApiRemoveReturnPolicyFromItemAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRemoveReturnPolicyFromItemAsyncRequest) ApiVersion(apiVersion string) ApiRemoveReturnPolicyFromItemAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRemoveReturnPolicyFromItemAsyncRequest) XApiVersion(xApiVersion string) ApiRemoveReturnPolicyFromItemAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRemoveReturnPolicyFromItemAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveReturnPolicyFromItemAsyncExecute(r)
}

/*
RemoveReturnPolicyFromItemAsync Remove return policy from item

Removes a return policy from an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemReturnPolicyId
 @return ApiRemoveReturnPolicyFromItemAsyncRequest
*/
func (a *ItemReturnPoliciesAPIService) RemoveReturnPolicyFromItemAsync(ctx context.Context, itemReturnPolicyId string) ApiRemoveReturnPolicyFromItemAsyncRequest {
	return ApiRemoveReturnPolicyFromItemAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemReturnPolicyId: itemReturnPolicyId,
	}
}

// Execute executes the request
func (a *ItemReturnPoliciesAPIService) RemoveReturnPolicyFromItemAsyncExecute(r ApiRemoveReturnPolicyFromItemAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemReturnPoliciesAPIService.RemoveReturnPolicyFromItemAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemReturnPolicies/{itemReturnPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemReturnPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemReturnPolicyId, "itemReturnPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
