/*
CatalogService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItemShippingPoliciesAPIService ItemShippingPoliciesAPI service
type ItemShippingPoliciesAPIService service

type ApiCountItemShippingPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemShippingPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiCountItemShippingPoliciesAsyncRequest) ItemId(itemId string) ApiCountItemShippingPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiCountItemShippingPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiCountItemShippingPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiCountItemShippingPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiCountItemShippingPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCountItemShippingPoliciesAsyncRequest) Execute() (*Int32Envelope, *http.Response, error) {
	return r.ApiService.CountItemShippingPoliciesAsyncExecute(r)
}

/*
CountItemShippingPoliciesAsync Count item shipping policies

Counts all shipping policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountItemShippingPoliciesAsyncRequest
*/
func (a *ItemShippingPoliciesAPIService) CountItemShippingPoliciesAsync(ctx context.Context) ApiCountItemShippingPoliciesAsyncRequest {
	return ApiCountItemShippingPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Int32Envelope
func (a *ItemShippingPoliciesAPIService) CountItemShippingPoliciesAsyncExecute(r ApiCountItemShippingPoliciesAsyncRequest) (*Int32Envelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Int32Envelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemShippingPoliciesAPIService.CountItemShippingPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemShippingPolicies/Count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemShippingPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemShippingPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemShippingPoliciesAsyncRequest) ItemId(itemId string) ApiGetItemShippingPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemShippingPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiGetItemShippingPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemShippingPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemShippingPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemShippingPoliciesAsyncRequest) Execute() (*ItemShippingPolicyDtoListEnvelope, *http.Response, error) {
	return r.ApiService.GetItemShippingPoliciesAsyncExecute(r)
}

/*
GetItemShippingPoliciesAsync Get item shipping policies

Retrieves all shipping policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemShippingPoliciesAsyncRequest
*/
func (a *ItemShippingPoliciesAPIService) GetItemShippingPoliciesAsync(ctx context.Context) ApiGetItemShippingPoliciesAsyncRequest {
	return ApiGetItemShippingPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ItemShippingPolicyDtoListEnvelope
func (a *ItemShippingPoliciesAPIService) GetItemShippingPoliciesAsyncExecute(r ApiGetItemShippingPoliciesAsyncRequest) (*ItemShippingPolicyDtoListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemShippingPolicyDtoListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemShippingPoliciesAPIService.GetItemShippingPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemShippingPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemShippingPolicyByIdAsyncRequest struct {
	ctx context.Context
	ApiService *ItemShippingPoliciesAPIService
	itemShippingPolicyId string
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemShippingPolicyByIdAsyncRequest) ItemId(itemId string) ApiGetItemShippingPolicyByIdAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemShippingPolicyByIdAsyncRequest) ApiVersion(apiVersion string) ApiGetItemShippingPolicyByIdAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemShippingPolicyByIdAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemShippingPolicyByIdAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemShippingPolicyByIdAsyncRequest) Execute() (*ItemShippingPolicyDtoEnvelope, *http.Response, error) {
	return r.ApiService.GetItemShippingPolicyByIdAsyncExecute(r)
}

/*
GetItemShippingPolicyByIdAsync Get item shipping policy by ID

Retrieves a specific shipping policy for an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemShippingPolicyId
 @return ApiGetItemShippingPolicyByIdAsyncRequest
*/
func (a *ItemShippingPoliciesAPIService) GetItemShippingPolicyByIdAsync(ctx context.Context, itemShippingPolicyId string) ApiGetItemShippingPolicyByIdAsyncRequest {
	return ApiGetItemShippingPolicyByIdAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemShippingPolicyId: itemShippingPolicyId,
	}
}

// Execute executes the request
//  @return ItemShippingPolicyDtoEnvelope
func (a *ItemShippingPoliciesAPIService) GetItemShippingPolicyByIdAsyncExecute(r ApiGetItemShippingPolicyByIdAsyncRequest) (*ItemShippingPolicyDtoEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemShippingPolicyDtoEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemShippingPoliciesAPIService.GetItemShippingPolicyByIdAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemShippingPolicies/{itemShippingPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemShippingPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemShippingPolicyId, "itemShippingPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRelateItemToShippingPolicyAsyncRequest struct {
	ctx context.Context
	ApiService *ItemShippingPoliciesAPIService
	tenantId *string
	itemId *string
	shippingPolicyId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRelateItemToShippingPolicyAsyncRequest) TenantId(tenantId string) ApiRelateItemToShippingPolicyAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRelateItemToShippingPolicyAsyncRequest) ItemId(itemId string) ApiRelateItemToShippingPolicyAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRelateItemToShippingPolicyAsyncRequest) ShippingPolicyId(shippingPolicyId string) ApiRelateItemToShippingPolicyAsyncRequest {
	r.shippingPolicyId = &shippingPolicyId
	return r
}

func (r ApiRelateItemToShippingPolicyAsyncRequest) ApiVersion(apiVersion string) ApiRelateItemToShippingPolicyAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRelateItemToShippingPolicyAsyncRequest) XApiVersion(xApiVersion string) ApiRelateItemToShippingPolicyAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRelateItemToShippingPolicyAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RelateItemToShippingPolicyAsyncExecute(r)
}

/*
RelateItemToShippingPolicyAsync Relate item to shipping policy

Relates an item to an existing shipping policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRelateItemToShippingPolicyAsyncRequest
*/
func (a *ItemShippingPoliciesAPIService) RelateItemToShippingPolicyAsync(ctx context.Context) ApiRelateItemToShippingPolicyAsyncRequest {
	return ApiRelateItemToShippingPolicyAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ItemShippingPoliciesAPIService) RelateItemToShippingPolicyAsyncExecute(r ApiRelateItemToShippingPolicyAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemShippingPoliciesAPIService.RelateItemToShippingPolicyAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemShippingPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}
	if r.shippingPolicyId == nil {
		return nil, reportError("shippingPolicyId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "shippingPolicyId", r.shippingPolicyId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRemoveShippingPolicyFromItemAsyncRequest struct {
	ctx context.Context
	ApiService *ItemShippingPoliciesAPIService
	tenantId *string
	itemId *string
	itemShippingPolicyId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRemoveShippingPolicyFromItemAsyncRequest) TenantId(tenantId string) ApiRemoveShippingPolicyFromItemAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRemoveShippingPolicyFromItemAsyncRequest) ItemId(itemId string) ApiRemoveShippingPolicyFromItemAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRemoveShippingPolicyFromItemAsyncRequest) ApiVersion(apiVersion string) ApiRemoveShippingPolicyFromItemAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRemoveShippingPolicyFromItemAsyncRequest) XApiVersion(xApiVersion string) ApiRemoveShippingPolicyFromItemAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRemoveShippingPolicyFromItemAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveShippingPolicyFromItemAsyncExecute(r)
}

/*
RemoveShippingPolicyFromItemAsync Remove shipping policy from item

Removes a shipping policy from an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemShippingPolicyId
 @return ApiRemoveShippingPolicyFromItemAsyncRequest
*/
func (a *ItemShippingPoliciesAPIService) RemoveShippingPolicyFromItemAsync(ctx context.Context, itemShippingPolicyId string) ApiRemoveShippingPolicyFromItemAsyncRequest {
	return ApiRemoveShippingPolicyFromItemAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemShippingPolicyId: itemShippingPolicyId,
	}
}

// Execute executes the request
func (a *ItemShippingPoliciesAPIService) RemoveShippingPolicyFromItemAsyncExecute(r ApiRemoveShippingPolicyFromItemAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemShippingPoliciesAPIService.RemoveShippingPolicyFromItemAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemShippingPolicies/{itemShippingPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemShippingPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemShippingPolicyId, "itemShippingPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
