/*
CatalogService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItemTaxPoliciesAPIService ItemTaxPoliciesAPI service
type ItemTaxPoliciesAPIService service

type ApiCountItemTaxPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemTaxPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiCountItemTaxPoliciesAsyncRequest) ItemId(itemId string) ApiCountItemTaxPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiCountItemTaxPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiCountItemTaxPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiCountItemTaxPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiCountItemTaxPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCountItemTaxPoliciesAsyncRequest) Execute() (*Int32Envelope, *http.Response, error) {
	return r.ApiService.CountItemTaxPoliciesAsyncExecute(r)
}

/*
CountItemTaxPoliciesAsync Count item tax policies

Counts all tax policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountItemTaxPoliciesAsyncRequest
*/
func (a *ItemTaxPoliciesAPIService) CountItemTaxPoliciesAsync(ctx context.Context) ApiCountItemTaxPoliciesAsyncRequest {
	return ApiCountItemTaxPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Int32Envelope
func (a *ItemTaxPoliciesAPIService) CountItemTaxPoliciesAsyncExecute(r ApiCountItemTaxPoliciesAsyncRequest) (*Int32Envelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Int32Envelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemTaxPoliciesAPIService.CountItemTaxPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemTaxPolicies/Count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemTaxPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemTaxPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemTaxPoliciesAsyncRequest) ItemId(itemId string) ApiGetItemTaxPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemTaxPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiGetItemTaxPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemTaxPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemTaxPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemTaxPoliciesAsyncRequest) Execute() (*ItemTaxPolicyDtoListEnvelope, *http.Response, error) {
	return r.ApiService.GetItemTaxPoliciesAsyncExecute(r)
}

/*
GetItemTaxPoliciesAsync Get item tax policies

Retrieves all tax policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemTaxPoliciesAsyncRequest
*/
func (a *ItemTaxPoliciesAPIService) GetItemTaxPoliciesAsync(ctx context.Context) ApiGetItemTaxPoliciesAsyncRequest {
	return ApiGetItemTaxPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ItemTaxPolicyDtoListEnvelope
func (a *ItemTaxPoliciesAPIService) GetItemTaxPoliciesAsyncExecute(r ApiGetItemTaxPoliciesAsyncRequest) (*ItemTaxPolicyDtoListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemTaxPolicyDtoListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemTaxPoliciesAPIService.GetItemTaxPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemTaxPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemTaxPolicyByIdAsyncRequest struct {
	ctx context.Context
	ApiService *ItemTaxPoliciesAPIService
	itemTaxPolicyId string
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemTaxPolicyByIdAsyncRequest) ItemId(itemId string) ApiGetItemTaxPolicyByIdAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemTaxPolicyByIdAsyncRequest) ApiVersion(apiVersion string) ApiGetItemTaxPolicyByIdAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemTaxPolicyByIdAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemTaxPolicyByIdAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemTaxPolicyByIdAsyncRequest) Execute() (*ItemTaxPolicyDtoEnvelope, *http.Response, error) {
	return r.ApiService.GetItemTaxPolicyByIdAsyncExecute(r)
}

/*
GetItemTaxPolicyByIdAsync Get item tax policy by ID

Retrieves a specific tax policy for an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemTaxPolicyId
 @return ApiGetItemTaxPolicyByIdAsyncRequest
*/
func (a *ItemTaxPoliciesAPIService) GetItemTaxPolicyByIdAsync(ctx context.Context, itemTaxPolicyId string) ApiGetItemTaxPolicyByIdAsyncRequest {
	return ApiGetItemTaxPolicyByIdAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemTaxPolicyId: itemTaxPolicyId,
	}
}

// Execute executes the request
//  @return ItemTaxPolicyDtoEnvelope
func (a *ItemTaxPoliciesAPIService) GetItemTaxPolicyByIdAsyncExecute(r ApiGetItemTaxPolicyByIdAsyncRequest) (*ItemTaxPolicyDtoEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemTaxPolicyDtoEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemTaxPoliciesAPIService.GetItemTaxPolicyByIdAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemTaxPolicies/{itemTaxPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemTaxPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemTaxPolicyId, "itemTaxPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRelateItemToTaxPolicyAsyncRequest struct {
	ctx context.Context
	ApiService *ItemTaxPoliciesAPIService
	tenantId *string
	itemId *string
	taxPolicyId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRelateItemToTaxPolicyAsyncRequest) TenantId(tenantId string) ApiRelateItemToTaxPolicyAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRelateItemToTaxPolicyAsyncRequest) ItemId(itemId string) ApiRelateItemToTaxPolicyAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRelateItemToTaxPolicyAsyncRequest) TaxPolicyId(taxPolicyId string) ApiRelateItemToTaxPolicyAsyncRequest {
	r.taxPolicyId = &taxPolicyId
	return r
}

func (r ApiRelateItemToTaxPolicyAsyncRequest) ApiVersion(apiVersion string) ApiRelateItemToTaxPolicyAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRelateItemToTaxPolicyAsyncRequest) XApiVersion(xApiVersion string) ApiRelateItemToTaxPolicyAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRelateItemToTaxPolicyAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RelateItemToTaxPolicyAsyncExecute(r)
}

/*
RelateItemToTaxPolicyAsync Relate item to tax policy

Relates an item to an existing tax policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRelateItemToTaxPolicyAsyncRequest
*/
func (a *ItemTaxPoliciesAPIService) RelateItemToTaxPolicyAsync(ctx context.Context) ApiRelateItemToTaxPolicyAsyncRequest {
	return ApiRelateItemToTaxPolicyAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ItemTaxPoliciesAPIService) RelateItemToTaxPolicyAsyncExecute(r ApiRelateItemToTaxPolicyAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemTaxPoliciesAPIService.RelateItemToTaxPolicyAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemTaxPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}
	if r.taxPolicyId == nil {
		return nil, reportError("taxPolicyId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "taxPolicyId", r.taxPolicyId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRemoveTaxPolicyFromItemAsyncRequest struct {
	ctx context.Context
	ApiService *ItemTaxPoliciesAPIService
	tenantId *string
	itemId *string
	itemTaxPolicyId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRemoveTaxPolicyFromItemAsyncRequest) TenantId(tenantId string) ApiRemoveTaxPolicyFromItemAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRemoveTaxPolicyFromItemAsyncRequest) ItemId(itemId string) ApiRemoveTaxPolicyFromItemAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRemoveTaxPolicyFromItemAsyncRequest) ApiVersion(apiVersion string) ApiRemoveTaxPolicyFromItemAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRemoveTaxPolicyFromItemAsyncRequest) XApiVersion(xApiVersion string) ApiRemoveTaxPolicyFromItemAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRemoveTaxPolicyFromItemAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveTaxPolicyFromItemAsyncExecute(r)
}

/*
RemoveTaxPolicyFromItemAsync Remove tax policy from item

Removes a tax policy from an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemTaxPolicyId
 @return ApiRemoveTaxPolicyFromItemAsyncRequest
*/
func (a *ItemTaxPoliciesAPIService) RemoveTaxPolicyFromItemAsync(ctx context.Context, itemTaxPolicyId string) ApiRemoveTaxPolicyFromItemAsyncRequest {
	return ApiRemoveTaxPolicyFromItemAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemTaxPolicyId: itemTaxPolicyId,
	}
}

// Execute executes the request
func (a *ItemTaxPoliciesAPIService) RemoveTaxPolicyFromItemAsyncExecute(r ApiRemoveTaxPolicyFromItemAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemTaxPoliciesAPIService.RemoveTaxPolicyFromItemAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemTaxPolicies/{itemTaxPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemTaxPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemTaxPolicyId, "itemTaxPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
