/*
CatalogService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItemWarrantyPoliciesAPIService ItemWarrantyPoliciesAPI service
type ItemWarrantyPoliciesAPIService service

type ApiCountItemWarrantyPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemWarrantyPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiCountItemWarrantyPoliciesAsyncRequest) ItemId(itemId string) ApiCountItemWarrantyPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiCountItemWarrantyPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiCountItemWarrantyPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiCountItemWarrantyPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiCountItemWarrantyPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCountItemWarrantyPoliciesAsyncRequest) Execute() (*Int32Envelope, *http.Response, error) {
	return r.ApiService.CountItemWarrantyPoliciesAsyncExecute(r)
}

/*
CountItemWarrantyPoliciesAsync Count item warranty policies

Counts all warranty policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountItemWarrantyPoliciesAsyncRequest
*/
func (a *ItemWarrantyPoliciesAPIService) CountItemWarrantyPoliciesAsync(ctx context.Context) ApiCountItemWarrantyPoliciesAsyncRequest {
	return ApiCountItemWarrantyPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Int32Envelope
func (a *ItemWarrantyPoliciesAPIService) CountItemWarrantyPoliciesAsyncExecute(r ApiCountItemWarrantyPoliciesAsyncRequest) (*Int32Envelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Int32Envelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemWarrantyPoliciesAPIService.CountItemWarrantyPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemWarrantyPolicies/Count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemWarrantyPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemWarrantyPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemWarrantyPoliciesAsyncRequest) ItemId(itemId string) ApiGetItemWarrantyPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemWarrantyPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiGetItemWarrantyPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemWarrantyPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemWarrantyPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemWarrantyPoliciesAsyncRequest) Execute() (*ItemWarrantyPolicyDtoListEnvelope, *http.Response, error) {
	return r.ApiService.GetItemWarrantyPoliciesAsyncExecute(r)
}

/*
GetItemWarrantyPoliciesAsync Get item warranty policies

Retrieves all warranty policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemWarrantyPoliciesAsyncRequest
*/
func (a *ItemWarrantyPoliciesAPIService) GetItemWarrantyPoliciesAsync(ctx context.Context) ApiGetItemWarrantyPoliciesAsyncRequest {
	return ApiGetItemWarrantyPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ItemWarrantyPolicyDtoListEnvelope
func (a *ItemWarrantyPoliciesAPIService) GetItemWarrantyPoliciesAsyncExecute(r ApiGetItemWarrantyPoliciesAsyncRequest) (*ItemWarrantyPolicyDtoListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemWarrantyPolicyDtoListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemWarrantyPoliciesAPIService.GetItemWarrantyPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemWarrantyPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemWarrantyPolicyByIdAsyncRequest struct {
	ctx context.Context
	ApiService *ItemWarrantyPoliciesAPIService
	itemWarrantyPolicyId string
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemWarrantyPolicyByIdAsyncRequest) ItemId(itemId string) ApiGetItemWarrantyPolicyByIdAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemWarrantyPolicyByIdAsyncRequest) ApiVersion(apiVersion string) ApiGetItemWarrantyPolicyByIdAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemWarrantyPolicyByIdAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemWarrantyPolicyByIdAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemWarrantyPolicyByIdAsyncRequest) Execute() (*ItemWarrantyPolicyDtoEnvelope, *http.Response, error) {
	return r.ApiService.GetItemWarrantyPolicyByIdAsyncExecute(r)
}

/*
GetItemWarrantyPolicyByIdAsync Get item warranty policy by ID

Retrieves a specific warranty policy for an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemWarrantyPolicyId
 @return ApiGetItemWarrantyPolicyByIdAsyncRequest
*/
func (a *ItemWarrantyPoliciesAPIService) GetItemWarrantyPolicyByIdAsync(ctx context.Context, itemWarrantyPolicyId string) ApiGetItemWarrantyPolicyByIdAsyncRequest {
	return ApiGetItemWarrantyPolicyByIdAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemWarrantyPolicyId: itemWarrantyPolicyId,
	}
}

// Execute executes the request
//  @return ItemWarrantyPolicyDtoEnvelope
func (a *ItemWarrantyPoliciesAPIService) GetItemWarrantyPolicyByIdAsyncExecute(r ApiGetItemWarrantyPolicyByIdAsyncRequest) (*ItemWarrantyPolicyDtoEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemWarrantyPolicyDtoEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemWarrantyPoliciesAPIService.GetItemWarrantyPolicyByIdAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemWarrantyPolicies/{itemWarrantyPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemWarrantyPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemWarrantyPolicyId, "itemWarrantyPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRelateItemToWarrantyPolicyAsyncRequest struct {
	ctx context.Context
	ApiService *ItemWarrantyPoliciesAPIService
	tenantId *string
	itemId *string
	warrantyPolicyId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRelateItemToWarrantyPolicyAsyncRequest) TenantId(tenantId string) ApiRelateItemToWarrantyPolicyAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRelateItemToWarrantyPolicyAsyncRequest) ItemId(itemId string) ApiRelateItemToWarrantyPolicyAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRelateItemToWarrantyPolicyAsyncRequest) WarrantyPolicyId(warrantyPolicyId string) ApiRelateItemToWarrantyPolicyAsyncRequest {
	r.warrantyPolicyId = &warrantyPolicyId
	return r
}

func (r ApiRelateItemToWarrantyPolicyAsyncRequest) ApiVersion(apiVersion string) ApiRelateItemToWarrantyPolicyAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRelateItemToWarrantyPolicyAsyncRequest) XApiVersion(xApiVersion string) ApiRelateItemToWarrantyPolicyAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRelateItemToWarrantyPolicyAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RelateItemToWarrantyPolicyAsyncExecute(r)
}

/*
RelateItemToWarrantyPolicyAsync Relate item to warranty policy

Relates an item to an existing warranty policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRelateItemToWarrantyPolicyAsyncRequest
*/
func (a *ItemWarrantyPoliciesAPIService) RelateItemToWarrantyPolicyAsync(ctx context.Context) ApiRelateItemToWarrantyPolicyAsyncRequest {
	return ApiRelateItemToWarrantyPolicyAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ItemWarrantyPoliciesAPIService) RelateItemToWarrantyPolicyAsyncExecute(r ApiRelateItemToWarrantyPolicyAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemWarrantyPoliciesAPIService.RelateItemToWarrantyPolicyAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemWarrantyPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}
	if r.warrantyPolicyId == nil {
		return nil, reportError("warrantyPolicyId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "warrantyPolicyId", r.warrantyPolicyId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRemoveWarrantyPolicyFromItemAsyncRequest struct {
	ctx context.Context
	ApiService *ItemWarrantyPoliciesAPIService
	tenantId *string
	itemId *string
	itemWarrantyPolicyId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRemoveWarrantyPolicyFromItemAsyncRequest) TenantId(tenantId string) ApiRemoveWarrantyPolicyFromItemAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRemoveWarrantyPolicyFromItemAsyncRequest) ItemId(itemId string) ApiRemoveWarrantyPolicyFromItemAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRemoveWarrantyPolicyFromItemAsyncRequest) ApiVersion(apiVersion string) ApiRemoveWarrantyPolicyFromItemAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRemoveWarrantyPolicyFromItemAsyncRequest) XApiVersion(xApiVersion string) ApiRemoveWarrantyPolicyFromItemAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRemoveWarrantyPolicyFromItemAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveWarrantyPolicyFromItemAsyncExecute(r)
}

/*
RemoveWarrantyPolicyFromItemAsync Remove warranty policy from item

Removes a warranty policy from an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemWarrantyPolicyId
 @return ApiRemoveWarrantyPolicyFromItemAsyncRequest
*/
func (a *ItemWarrantyPoliciesAPIService) RemoveWarrantyPolicyFromItemAsync(ctx context.Context, itemWarrantyPolicyId string) ApiRemoveWarrantyPolicyFromItemAsyncRequest {
	return ApiRemoveWarrantyPolicyFromItemAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemWarrantyPolicyId: itemWarrantyPolicyId,
	}
}

// Execute executes the request
func (a *ItemWarrantyPoliciesAPIService) RemoveWarrantyPolicyFromItemAsyncExecute(r ApiRemoveWarrantyPolicyFromItemAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemWarrantyPoliciesAPIService.RemoveWarrantyPolicyFromItemAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemWarrantyPolicies/{itemWarrantyPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemWarrantyPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemWarrantyPolicyId, "itemWarrantyPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
