/*
CatalogService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ItemRefundPoliciesAPIService ItemRefundPoliciesAPI service
type ItemRefundPoliciesAPIService service

type ApiCountItemRefundPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemRefundPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiCountItemRefundPoliciesAsyncRequest) ItemId(itemId string) ApiCountItemRefundPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiCountItemRefundPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiCountItemRefundPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiCountItemRefundPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiCountItemRefundPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCountItemRefundPoliciesAsyncRequest) Execute() (*Int32Envelope, *http.Response, error) {
	return r.ApiService.CountItemRefundPoliciesAsyncExecute(r)
}

/*
CountItemRefundPoliciesAsync Count item refund policies

Counts all refund policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCountItemRefundPoliciesAsyncRequest
*/
func (a *ItemRefundPoliciesAPIService) CountItemRefundPoliciesAsync(ctx context.Context) ApiCountItemRefundPoliciesAsyncRequest {
	return ApiCountItemRefundPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Int32Envelope
func (a *ItemRefundPoliciesAPIService) CountItemRefundPoliciesAsyncExecute(r ApiCountItemRefundPoliciesAsyncRequest) (*Int32Envelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Int32Envelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemRefundPoliciesAPIService.CountItemRefundPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemRefundPolicies/Count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemRefundPoliciesAsyncRequest struct {
	ctx context.Context
	ApiService *ItemRefundPoliciesAPIService
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemRefundPoliciesAsyncRequest) ItemId(itemId string) ApiGetItemRefundPoliciesAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemRefundPoliciesAsyncRequest) ApiVersion(apiVersion string) ApiGetItemRefundPoliciesAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemRefundPoliciesAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemRefundPoliciesAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemRefundPoliciesAsyncRequest) Execute() (*ItemRefundPolicyDtoListEnvelope, *http.Response, error) {
	return r.ApiService.GetItemRefundPoliciesAsyncExecute(r)
}

/*
GetItemRefundPoliciesAsync Get item refund policies

Retrieves all refund policies for a specific item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetItemRefundPoliciesAsyncRequest
*/
func (a *ItemRefundPoliciesAPIService) GetItemRefundPoliciesAsync(ctx context.Context) ApiGetItemRefundPoliciesAsyncRequest {
	return ApiGetItemRefundPoliciesAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ItemRefundPolicyDtoListEnvelope
func (a *ItemRefundPoliciesAPIService) GetItemRefundPoliciesAsyncExecute(r ApiGetItemRefundPoliciesAsyncRequest) (*ItemRefundPolicyDtoListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemRefundPolicyDtoListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemRefundPoliciesAPIService.GetItemRefundPoliciesAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemRefundPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetItemRefundPolicyByIdAsyncRequest struct {
	ctx context.Context
	ApiService *ItemRefundPoliciesAPIService
	itemRefundPolicyId string
	itemId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetItemRefundPolicyByIdAsyncRequest) ItemId(itemId string) ApiGetItemRefundPolicyByIdAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiGetItemRefundPolicyByIdAsyncRequest) ApiVersion(apiVersion string) ApiGetItemRefundPolicyByIdAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetItemRefundPolicyByIdAsyncRequest) XApiVersion(xApiVersion string) ApiGetItemRefundPolicyByIdAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetItemRefundPolicyByIdAsyncRequest) Execute() (*ItemRefundPolicyDtoEnvelope, *http.Response, error) {
	return r.ApiService.GetItemRefundPolicyByIdAsyncExecute(r)
}

/*
GetItemRefundPolicyByIdAsync Get item refund policy by ID

Retrieves a specific refund policy for an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemRefundPolicyId
 @return ApiGetItemRefundPolicyByIdAsyncRequest
*/
func (a *ItemRefundPoliciesAPIService) GetItemRefundPolicyByIdAsync(ctx context.Context, itemRefundPolicyId string) ApiGetItemRefundPolicyByIdAsyncRequest {
	return ApiGetItemRefundPolicyByIdAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemRefundPolicyId: itemRefundPolicyId,
	}
}

// Execute executes the request
//  @return ItemRefundPolicyDtoEnvelope
func (a *ItemRefundPoliciesAPIService) GetItemRefundPolicyByIdAsyncExecute(r ApiGetItemRefundPolicyByIdAsyncRequest) (*ItemRefundPolicyDtoEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ItemRefundPolicyDtoEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemRefundPoliciesAPIService.GetItemRefundPolicyByIdAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemRefundPolicies/{itemRefundPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemRefundPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemRefundPolicyId, "itemRefundPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRelateItemToRefundPolicyAsyncRequest struct {
	ctx context.Context
	ApiService *ItemRefundPoliciesAPIService
	tenantId *string
	itemId *string
	refundPolicyId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRelateItemToRefundPolicyAsyncRequest) TenantId(tenantId string) ApiRelateItemToRefundPolicyAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRelateItemToRefundPolicyAsyncRequest) ItemId(itemId string) ApiRelateItemToRefundPolicyAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRelateItemToRefundPolicyAsyncRequest) RefundPolicyId(refundPolicyId string) ApiRelateItemToRefundPolicyAsyncRequest {
	r.refundPolicyId = &refundPolicyId
	return r
}

func (r ApiRelateItemToRefundPolicyAsyncRequest) ApiVersion(apiVersion string) ApiRelateItemToRefundPolicyAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRelateItemToRefundPolicyAsyncRequest) XApiVersion(xApiVersion string) ApiRelateItemToRefundPolicyAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRelateItemToRefundPolicyAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RelateItemToRefundPolicyAsyncExecute(r)
}

/*
RelateItemToRefundPolicyAsync Relate item to refund policy

Relates an item to an existing refund policy.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRelateItemToRefundPolicyAsyncRequest
*/
func (a *ItemRefundPoliciesAPIService) RelateItemToRefundPolicyAsync(ctx context.Context) ApiRelateItemToRefundPolicyAsyncRequest {
	return ApiRelateItemToRefundPolicyAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ItemRefundPoliciesAPIService) RelateItemToRefundPolicyAsyncExecute(r ApiRelateItemToRefundPolicyAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemRefundPoliciesAPIService.RelateItemToRefundPolicyAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemRefundPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}
	if r.refundPolicyId == nil {
		return nil, reportError("refundPolicyId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "refundPolicyId", r.refundPolicyId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRemoveRefundPolicyFromItemAsyncRequest struct {
	ctx context.Context
	ApiService *ItemRefundPoliciesAPIService
	tenantId *string
	itemId *string
	itemRefundPolicyId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRemoveRefundPolicyFromItemAsyncRequest) TenantId(tenantId string) ApiRemoveRefundPolicyFromItemAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiRemoveRefundPolicyFromItemAsyncRequest) ItemId(itemId string) ApiRemoveRefundPolicyFromItemAsyncRequest {
	r.itemId = &itemId
	return r
}

func (r ApiRemoveRefundPolicyFromItemAsyncRequest) ApiVersion(apiVersion string) ApiRemoveRefundPolicyFromItemAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRemoveRefundPolicyFromItemAsyncRequest) XApiVersion(xApiVersion string) ApiRemoveRefundPolicyFromItemAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRemoveRefundPolicyFromItemAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveRefundPolicyFromItemAsyncExecute(r)
}

/*
RemoveRefundPolicyFromItemAsync Remove refund policy from item

Removes a refund policy from an item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param itemRefundPolicyId
 @return ApiRemoveRefundPolicyFromItemAsyncRequest
*/
func (a *ItemRefundPoliciesAPIService) RemoveRefundPolicyFromItemAsync(ctx context.Context, itemRefundPolicyId string) ApiRemoveRefundPolicyFromItemAsyncRequest {
	return ApiRemoveRefundPolicyFromItemAsyncRequest{
		ApiService: a,
		ctx: ctx,
		itemRefundPolicyId: itemRefundPolicyId,
	}
}

// Execute executes the request
func (a *ItemRefundPoliciesAPIService) RemoveRefundPolicyFromItemAsyncExecute(r ApiRemoveRefundPolicyFromItemAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ItemRefundPoliciesAPIService.RemoveRefundPolicyFromItemAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CatalogService/ItemRefundPolicies/{itemRefundPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"itemRefundPolicyId"+"}", url.PathEscape(parameterValueToString(r.itemRefundPolicyId, "itemRefundPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}
	if r.itemId == nil {
		return nil, reportError("itemId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
