/*
CartService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WishListsAPIService WishListsAPI service
type WishListsAPIService service

type ApiAddProductToWishListRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	apiVersion *string
	xApiVersion *string
	productToWishListRequest *ProductToWishListRequest
}

func (r ApiAddProductToWishListRequest) ApiVersion(apiVersion string) ApiAddProductToWishListRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiAddProductToWishListRequest) XApiVersion(xApiVersion string) ApiAddProductToWishListRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiAddProductToWishListRequest) ProductToWishListRequest(productToWishListRequest ProductToWishListRequest) ApiAddProductToWishListRequest {
	r.productToWishListRequest = &productToWishListRequest
	return r
}

func (r ApiAddProductToWishListRequest) Execute() (*EmptyEnvelope, *http.Response, error) {
	return r.ApiService.AddProductToWishListExecute(r)
}

/*
AddProductToWishList Add a product to a wish list

Adds the specified product to the given wish list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAddProductToWishListRequest
*/
func (a *WishListsAPIService) AddProductToWishList(ctx context.Context) ApiAddProductToWishListRequest {
	return ApiAddProductToWishListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmptyEnvelope
func (a *WishListsAPIService) AddProductToWishListExecute(r ApiAddProductToWishListRequest) (*EmptyEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmptyEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.AddProductToWishList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/Records"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.productToWishListRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateWishListRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	apiVersion *string
	xApiVersion *string
	newWishListRequest *NewWishListRequest
}

func (r ApiCreateWishListRequest) ApiVersion(apiVersion string) ApiCreateWishListRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiCreateWishListRequest) XApiVersion(xApiVersion string) ApiCreateWishListRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCreateWishListRequest) NewWishListRequest(newWishListRequest NewWishListRequest) ApiCreateWishListRequest {
	r.newWishListRequest = &newWishListRequest
	return r
}

func (r ApiCreateWishListRequest) Execute() (*EmptyEnvelope, *http.Response, error) {
	return r.ApiService.CreateWishListExecute(r)
}

/*
CreateWishList Create a wish list

Creates a new wish list from the provided request data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateWishListRequest
*/
func (a *WishListsAPIService) CreateWishList(ctx context.Context) ApiCreateWishListRequest {
	return ApiCreateWishListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmptyEnvelope
func (a *WishListsAPIService) CreateWishListExecute(r ApiCreateWishListRequest) (*EmptyEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmptyEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.CreateWishList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.newWishListRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteWishListRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	wishListId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiDeleteWishListRequest) ApiVersion(apiVersion string) ApiDeleteWishListRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiDeleteWishListRequest) XApiVersion(xApiVersion string) ApiDeleteWishListRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiDeleteWishListRequest) Execute() (*EmptyEnvelope, *http.Response, error) {
	return r.ApiService.DeleteWishListExecute(r)
}

/*
DeleteWishList Delete a wish list

Deletes the specified wish list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param wishListId
 @return ApiDeleteWishListRequest
*/
func (a *WishListsAPIService) DeleteWishList(ctx context.Context, wishListId string) ApiDeleteWishListRequest {
	return ApiDeleteWishListRequest{
		ApiService: a,
		ctx: ctx,
		wishListId: wishListId,
	}
}

// Execute executes the request
//  @return EmptyEnvelope
func (a *WishListsAPIService) DeleteWishListExecute(r ApiDeleteWishListRequest) (*EmptyEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmptyEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.DeleteWishList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/{wishListId}"
	localVarPath = strings.Replace(localVarPath, "{"+"wishListId"+"}", url.PathEscape(parameterValueToString(r.wishListId, "wishListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteWishListRecordRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	recordId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiDeleteWishListRecordRequest) ApiVersion(apiVersion string) ApiDeleteWishListRecordRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiDeleteWishListRecordRequest) XApiVersion(xApiVersion string) ApiDeleteWishListRecordRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiDeleteWishListRecordRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteWishListRecordExecute(r)
}

/*
DeleteWishListRecord Delete a wish list record

Removes a specific item record from a wish list by its record ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param recordId
 @return ApiDeleteWishListRecordRequest
*/
func (a *WishListsAPIService) DeleteWishListRecord(ctx context.Context, recordId string) ApiDeleteWishListRecordRequest {
	return ApiDeleteWishListRecordRequest{
		ApiService: a,
		ctx: ctx,
		recordId: recordId,
	}
}

// Execute executes the request
func (a *WishListsAPIService) DeleteWishListRecordExecute(r ApiDeleteWishListRecordRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.DeleteWishListRecord")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/Records/{recordId}"
	localVarPath = strings.Replace(localVarPath, "{"+"recordId"+"}", url.PathEscape(parameterValueToString(r.recordId, "recordId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetCartWishListDetailsAsyncRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	wishListId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetCartWishListDetailsAsyncRequest) ApiVersion(apiVersion string) ApiGetCartWishListDetailsAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetCartWishListDetailsAsyncRequest) XApiVersion(xApiVersion string) ApiGetCartWishListDetailsAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetCartWishListDetailsAsyncRequest) Execute() (*WishListDto, *http.Response, error) {
	return r.ApiService.GetCartWishListDetailsAsyncExecute(r)
}

/*
GetCartWishListDetailsAsync Get wish list details

Retrieves the full details of the specified wish list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param wishListId
 @return ApiGetCartWishListDetailsAsyncRequest
*/
func (a *WishListsAPIService) GetCartWishListDetailsAsync(ctx context.Context, wishListId string) ApiGetCartWishListDetailsAsyncRequest {
	return ApiGetCartWishListDetailsAsyncRequest{
		ApiService: a,
		ctx: ctx,
		wishListId: wishListId,
	}
}

// Execute executes the request
//  @return WishListDto
func (a *WishListsAPIService) GetCartWishListDetailsAsyncExecute(r ApiGetCartWishListDetailsAsyncRequest) (*WishListDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WishListDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.GetCartWishListDetailsAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/{wishListId}/Details"
	localVarPath = strings.Replace(localVarPath, "{"+"wishListId"+"}", url.PathEscape(parameterValueToString(r.wishListId, "wishListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCartWishListItemsAsyncRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	wishListId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetCartWishListItemsAsyncRequest) ApiVersion(apiVersion string) ApiGetCartWishListItemsAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetCartWishListItemsAsyncRequest) XApiVersion(xApiVersion string) ApiGetCartWishListItemsAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetCartWishListItemsAsyncRequest) Execute() ([]WishListItemRecordDto, *http.Response, error) {
	return r.ApiService.GetCartWishListItemsAsyncExecute(r)
}

/*
GetCartWishListItemsAsync Get wish list item records

Retrieves all item records in the specified wish list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param wishListId
 @return ApiGetCartWishListItemsAsyncRequest
*/
func (a *WishListsAPIService) GetCartWishListItemsAsync(ctx context.Context, wishListId string) ApiGetCartWishListItemsAsyncRequest {
	return ApiGetCartWishListItemsAsyncRequest{
		ApiService: a,
		ctx: ctx,
		wishListId: wishListId,
	}
}

// Execute executes the request
//  @return []WishListItemRecordDto
func (a *WishListsAPIService) GetCartWishListItemsAsyncExecute(r ApiGetCartWishListItemsAsyncRequest) ([]WishListItemRecordDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []WishListItemRecordDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.GetCartWishListItemsAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/{wishListId}/Records"
	localVarPath = strings.Replace(localVarPath, "{"+"wishListId"+"}", url.PathEscape(parameterValueToString(r.wishListId, "wishListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWishListAsyncRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	cartId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetWishListAsyncRequest) ApiVersion(apiVersion string) ApiGetWishListAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetWishListAsyncRequest) XApiVersion(xApiVersion string) ApiGetWishListAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetWishListAsyncRequest) Execute() ([]WishListDto, *http.Response, error) {
	return r.ApiService.GetWishListAsyncExecute(r)
}

/*
GetWishListAsync Get wish lists for a cart

Retrieves all wish lists associated with the specified cart.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cartId
 @return ApiGetWishListAsyncRequest
*/
func (a *WishListsAPIService) GetWishListAsync(ctx context.Context, cartId string) ApiGetWishListAsyncRequest {
	return ApiGetWishListAsyncRequest{
		ApiService: a,
		ctx: ctx,
		cartId: cartId,
	}
}

// Execute executes the request
//  @return []WishListDto
func (a *WishListsAPIService) GetWishListAsyncExecute(r ApiGetWishListAsyncRequest) ([]WishListDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []WishListDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.GetWishListAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/{cartId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cartId"+"}", url.PathEscape(parameterValueToString(r.cartId, "cartId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIsProductInWishListsRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	cartId *string
	productId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiIsProductInWishListsRequest) CartId(cartId string) ApiIsProductInWishListsRequest {
	r.cartId = &cartId
	return r
}

func (r ApiIsProductInWishListsRequest) ProductId(productId string) ApiIsProductInWishListsRequest {
	r.productId = &productId
	return r
}

func (r ApiIsProductInWishListsRequest) ApiVersion(apiVersion string) ApiIsProductInWishListsRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiIsProductInWishListsRequest) XApiVersion(xApiVersion string) ApiIsProductInWishListsRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiIsProductInWishListsRequest) Execute() (*BooleanEnvelope, *http.Response, error) {
	return r.ApiService.IsProductInWishListsExecute(r)
}

/*
IsProductInWishLists Check if a product is in any wish list

Returns a boolean indicating whether the specified product exists in any wish list of the given cart.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIsProductInWishListsRequest
*/
func (a *WishListsAPIService) IsProductInWishLists(ctx context.Context) ApiIsProductInWishListsRequest {
	return ApiIsProductInWishListsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BooleanEnvelope
func (a *WishListsAPIService) IsProductInWishListsExecute(r ApiIsProductInWishListsRequest) (*BooleanEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BooleanEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.IsProductInWishLists")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/Contains"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cartId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cartId", r.cartId, "form", "")
	}
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productId", r.productId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateProductToWishListRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	wishListId string
	apiVersion *string
	xApiVersion *string
	wishListUpdateDto *WishListUpdateDto
}

func (r ApiUpdateProductToWishListRequest) ApiVersion(apiVersion string) ApiUpdateProductToWishListRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiUpdateProductToWishListRequest) XApiVersion(xApiVersion string) ApiUpdateProductToWishListRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiUpdateProductToWishListRequest) WishListUpdateDto(wishListUpdateDto WishListUpdateDto) ApiUpdateProductToWishListRequest {
	r.wishListUpdateDto = &wishListUpdateDto
	return r
}

func (r ApiUpdateProductToWishListRequest) Execute() (*EmptyEnvelope, *http.Response, error) {
	return r.ApiService.UpdateProductToWishListExecute(r)
}

/*
UpdateProductToWishList Update a wish list

Updates the specified wish list with the provided data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param wishListId
 @return ApiUpdateProductToWishListRequest
*/
func (a *WishListsAPIService) UpdateProductToWishList(ctx context.Context, wishListId string) ApiUpdateProductToWishListRequest {
	return ApiUpdateProductToWishListRequest{
		ApiService: a,
		ctx: ctx,
		wishListId: wishListId,
	}
}

// Execute executes the request
//  @return EmptyEnvelope
func (a *WishListsAPIService) UpdateProductToWishListExecute(r ApiUpdateProductToWishListRequest) (*EmptyEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmptyEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.UpdateProductToWishList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/{wishListId}"
	localVarPath = strings.Replace(localVarPath, "{"+"wishListId"+"}", url.PathEscape(parameterValueToString(r.wishListId, "wishListId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.wishListUpdateDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWishListExistsRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	wishListId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiWishListExistsRequest) WishListId(wishListId string) ApiWishListExistsRequest {
	r.wishListId = &wishListId
	return r
}

func (r ApiWishListExistsRequest) ApiVersion(apiVersion string) ApiWishListExistsRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiWishListExistsRequest) XApiVersion(xApiVersion string) ApiWishListExistsRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiWishListExistsRequest) Execute() (*BooleanEnvelope, *http.Response, error) {
	return r.ApiService.WishListExistsExecute(r)
}

/*
WishListExists Check if a wish list exists

Returns a boolean indicating whether the specified wish list exists.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWishListExistsRequest
*/
func (a *WishListsAPIService) WishListExists(ctx context.Context) ApiWishListExistsRequest {
	return ApiWishListExistsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BooleanEnvelope
func (a *WishListsAPIService) WishListExistsExecute(r ApiWishListExistsRequest) (*BooleanEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BooleanEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.WishListExists")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/Exists"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.wishListId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wishListId", r.wishListId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWishListExistsHeadAsyncRequest struct {
	ctx context.Context
	ApiService *WishListsAPIService
	wishListId *string
	apiVersion *string
	xApiVersion *string
}

func (r ApiWishListExistsHeadAsyncRequest) WishListId(wishListId string) ApiWishListExistsHeadAsyncRequest {
	r.wishListId = &wishListId
	return r
}

func (r ApiWishListExistsHeadAsyncRequest) ApiVersion(apiVersion string) ApiWishListExistsHeadAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiWishListExistsHeadAsyncRequest) XApiVersion(xApiVersion string) ApiWishListExistsHeadAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiWishListExistsHeadAsyncRequest) Execute() (*EmptyEnvelope, *http.Response, error) {
	return r.ApiService.WishListExistsHeadAsyncExecute(r)
}

/*
WishListExistsHeadAsync Check if a wish list exists (HEAD)

HEAD request to check whether the specified wish list exists without returning a response body.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiWishListExistsHeadAsyncRequest
*/
func (a *WishListsAPIService) WishListExistsHeadAsync(ctx context.Context) ApiWishListExistsHeadAsyncRequest {
	return ApiWishListExistsHeadAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmptyEnvelope
func (a *WishListsAPIService) WishListExistsHeadAsyncExecute(r ApiWishListExistsHeadAsyncRequest) (*EmptyEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodHead
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmptyEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WishListsAPIService.WishListExistsHeadAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/CartService/WishLists/Exists"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.wishListId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wishListId", r.wishListId, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
