/*
TrustService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
	"time"
)


// SigningRequestsAPIService SigningRequestsAPI service
type SigningRequestsAPIService service

type ApiAddParticipantAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
	createSigningParticipantDto *CreateSigningParticipantDto
}

func (r ApiAddParticipantAsyncRequest) TenantId(tenantId string) ApiAddParticipantAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiAddParticipantAsyncRequest) ApiVersion(apiVersion string) ApiAddParticipantAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiAddParticipantAsyncRequest) XApiVersion(xApiVersion string) ApiAddParticipantAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiAddParticipantAsyncRequest) CreateSigningParticipantDto(createSigningParticipantDto CreateSigningParticipantDto) ApiAddParticipantAsyncRequest {
	r.createSigningParticipantDto = &createSigningParticipantDto
	return r
}

func (r ApiAddParticipantAsyncRequest) Execute() (*SigningParticipantDto, *http.Response, error) {
	return r.ApiService.AddParticipantAsyncExecute(r)
}

/*
AddParticipantAsync Add a participant to a signing request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAddParticipantAsyncRequest
*/
func (a *SigningRequestsAPIService) AddParticipantAsync(ctx context.Context, id string) ApiAddParticipantAsyncRequest {
	return ApiAddParticipantAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SigningParticipantDto
func (a *SigningRequestsAPIService) AddParticipantAsyncExecute(r ApiAddParticipantAsyncRequest) (*SigningParticipantDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SigningParticipantDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.AddParticipantAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}/participants"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.createSigningParticipantDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateFromDocumentAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	signedDocumentId string
	apiVersion *string
	xApiVersion *string
	createSigningRequestDto *CreateSigningRequestDto
}

func (r ApiCreateFromDocumentAsyncRequest) TenantId(tenantId string) ApiCreateFromDocumentAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiCreateFromDocumentAsyncRequest) ApiVersion(apiVersion string) ApiCreateFromDocumentAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiCreateFromDocumentAsyncRequest) XApiVersion(xApiVersion string) ApiCreateFromDocumentAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCreateFromDocumentAsyncRequest) CreateSigningRequestDto(createSigningRequestDto CreateSigningRequestDto) ApiCreateFromDocumentAsyncRequest {
	r.createSigningRequestDto = &createSigningRequestDto
	return r
}

func (r ApiCreateFromDocumentAsyncRequest) Execute() (*SigningRequestDto, *http.Response, error) {
	return r.ApiService.CreateFromDocumentAsyncExecute(r)
}

/*
CreateFromDocumentAsync Create a signing request from a frozen document

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param signedDocumentId
 @return ApiCreateFromDocumentAsyncRequest
*/
func (a *SigningRequestsAPIService) CreateFromDocumentAsync(ctx context.Context, signedDocumentId string) ApiCreateFromDocumentAsyncRequest {
	return ApiCreateFromDocumentAsyncRequest{
		ApiService: a,
		ctx: ctx,
		signedDocumentId: signedDocumentId,
	}
}

// Execute executes the request
//  @return SigningRequestDto
func (a *SigningRequestsAPIService) CreateFromDocumentAsyncExecute(r ApiCreateFromDocumentAsyncRequest) (*SigningRequestDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SigningRequestDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.CreateFromDocumentAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/from-document/{signedDocumentId}"
	localVarPath = strings.Replace(localVarPath, "{"+"signedDocumentId"+"}", url.PathEscape(parameterValueToString(r.signedDocumentId, "signedDocumentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.createSigningRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExecuteProviderAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
	executeSigningRequestDto *ExecuteSigningRequestDto
}

func (r ApiExecuteProviderAsyncRequest) TenantId(tenantId string) ApiExecuteProviderAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiExecuteProviderAsyncRequest) ApiVersion(apiVersion string) ApiExecuteProviderAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiExecuteProviderAsyncRequest) XApiVersion(xApiVersion string) ApiExecuteProviderAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiExecuteProviderAsyncRequest) ExecuteSigningRequestDto(executeSigningRequestDto ExecuteSigningRequestDto) ApiExecuteProviderAsyncRequest {
	r.executeSigningRequestDto = &executeSigningRequestDto
	return r
}

func (r ApiExecuteProviderAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.ExecuteProviderAsyncExecute(r)
}

/*
ExecuteProviderAsync Run a signing provider to produce + finalize the signed artifact

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiExecuteProviderAsyncRequest
*/
func (a *SigningRequestsAPIService) ExecuteProviderAsync(ctx context.Context, id string) ApiExecuteProviderAsyncRequest {
	return ApiExecuteProviderAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SigningRequestsAPIService) ExecuteProviderAsyncExecute(r ApiExecuteProviderAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.ExecuteProviderAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}/execute-provider"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.executeSigningRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiExpireAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
}

func (r ApiExpireAsyncRequest) TenantId(tenantId string) ApiExpireAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiExpireAsyncRequest) ApiVersion(apiVersion string) ApiExpireAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiExpireAsyncRequest) XApiVersion(xApiVersion string) ApiExpireAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiExpireAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.ExpireAsyncExecute(r)
}

/*
ExpireAsync Expire a signing request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiExpireAsyncRequest
*/
func (a *SigningRequestsAPIService) ExpireAsync(ctx context.Context, id string) ApiExpireAsyncRequest {
	return ApiExpireAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SigningRequestsAPIService) ExpireAsyncExecute(r ApiExpireAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.ExpireAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}/expire"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiFinalizeAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
	finalizeSigningRequestDto *FinalizeSigningRequestDto
}

func (r ApiFinalizeAsyncRequest) TenantId(tenantId string) ApiFinalizeAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiFinalizeAsyncRequest) ApiVersion(apiVersion string) ApiFinalizeAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiFinalizeAsyncRequest) XApiVersion(xApiVersion string) ApiFinalizeAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiFinalizeAsyncRequest) FinalizeSigningRequestDto(finalizeSigningRequestDto FinalizeSigningRequestDto) ApiFinalizeAsyncRequest {
	r.finalizeSigningRequestDto = &finalizeSigningRequestDto
	return r
}

func (r ApiFinalizeAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.FinalizeAsyncExecute(r)
}

/*
FinalizeAsync Finalize a completed request into a signed artifact

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiFinalizeAsyncRequest
*/
func (a *SigningRequestsAPIService) FinalizeAsync(ctx context.Context, id string) ApiFinalizeAsyncRequest {
	return ApiFinalizeAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SigningRequestsAPIService) FinalizeAsyncExecute(r ApiFinalizeAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.FinalizeAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}/finalize"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.finalizeSigningRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetSigningRequestByIdAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetSigningRequestByIdAsyncRequest) TenantId(tenantId string) ApiGetSigningRequestByIdAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiGetSigningRequestByIdAsyncRequest) ApiVersion(apiVersion string) ApiGetSigningRequestByIdAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetSigningRequestByIdAsyncRequest) XApiVersion(xApiVersion string) ApiGetSigningRequestByIdAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetSigningRequestByIdAsyncRequest) Execute() (*SigningRequestDto, *http.Response, error) {
	return r.ApiService.GetSigningRequestByIdAsyncExecute(r)
}

/*
GetSigningRequestByIdAsync Get signing request by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetSigningRequestByIdAsyncRequest
*/
func (a *SigningRequestsAPIService) GetSigningRequestByIdAsync(ctx context.Context, id string) ApiGetSigningRequestByIdAsyncRequest {
	return ApiGetSigningRequestByIdAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SigningRequestDto
func (a *SigningRequestsAPIService) GetSigningRequestByIdAsyncExecute(r ApiGetSigningRequestByIdAsyncRequest) (*SigningRequestDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SigningRequestDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.GetSigningRequestByIdAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSigningRequestParticipantsAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetSigningRequestParticipantsAsyncRequest) TenantId(tenantId string) ApiGetSigningRequestParticipantsAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiGetSigningRequestParticipantsAsyncRequest) ApiVersion(apiVersion string) ApiGetSigningRequestParticipantsAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetSigningRequestParticipantsAsyncRequest) XApiVersion(xApiVersion string) ApiGetSigningRequestParticipantsAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetSigningRequestParticipantsAsyncRequest) Execute() (*SigningParticipantDtoListEnvelope, *http.Response, error) {
	return r.ApiService.GetSigningRequestParticipantsAsyncExecute(r)
}

/*
GetSigningRequestParticipantsAsync Get participants of a signing request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetSigningRequestParticipantsAsyncRequest
*/
func (a *SigningRequestsAPIService) GetSigningRequestParticipantsAsync(ctx context.Context, id string) ApiGetSigningRequestParticipantsAsyncRequest {
	return ApiGetSigningRequestParticipantsAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SigningParticipantDtoListEnvelope
func (a *SigningRequestsAPIService) GetSigningRequestParticipantsAsyncExecute(r ApiGetSigningRequestParticipantsAsyncRequest) (*SigningParticipantDtoListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SigningParticipantDtoListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.GetSigningRequestParticipantsAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}/Participants"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSigningRequestsAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	apiVersion *string
	xApiVersion *string
	signingRequestDtoCollectionQueryParameters *SigningRequestDtoCollectionQueryParameters
}

func (r ApiGetSigningRequestsAsyncRequest) TenantId(tenantId string) ApiGetSigningRequestsAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiGetSigningRequestsAsyncRequest) ApiVersion(apiVersion string) ApiGetSigningRequestsAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetSigningRequestsAsyncRequest) XApiVersion(xApiVersion string) ApiGetSigningRequestsAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetSigningRequestsAsyncRequest) SigningRequestDtoCollectionQueryParameters(signingRequestDtoCollectionQueryParameters SigningRequestDtoCollectionQueryParameters) ApiGetSigningRequestsAsyncRequest {
	r.signingRequestDtoCollectionQueryParameters = &signingRequestDtoCollectionQueryParameters
	return r
}

func (r ApiGetSigningRequestsAsyncRequest) Execute() (*SigningRequestDtoListEnvelope, *http.Response, error) {
	return r.ApiService.GetSigningRequestsAsyncExecute(r)
}

/*
GetSigningRequestsAsync Get all signing requests

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSigningRequestsAsyncRequest
*/
func (a *SigningRequestsAPIService) GetSigningRequestsAsync(ctx context.Context) ApiGetSigningRequestsAsyncRequest {
	return ApiGetSigningRequestsAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SigningRequestDtoListEnvelope
func (a *SigningRequestsAPIService) GetSigningRequestsAsyncExecute(r ApiGetSigningRequestsAsyncRequest) (*SigningRequestDtoListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SigningRequestDtoListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.GetSigningRequestsAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.signingRequestDtoCollectionQueryParameters
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSigningRequestsCountAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	apiVersion *string
	xApiVersion *string
	signingRequestDtoCollectionQueryParameters *SigningRequestDtoCollectionQueryParameters
}

func (r ApiGetSigningRequestsCountAsyncRequest) TenantId(tenantId string) ApiGetSigningRequestsCountAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiGetSigningRequestsCountAsyncRequest) ApiVersion(apiVersion string) ApiGetSigningRequestsCountAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetSigningRequestsCountAsyncRequest) XApiVersion(xApiVersion string) ApiGetSigningRequestsCountAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetSigningRequestsCountAsyncRequest) SigningRequestDtoCollectionQueryParameters(signingRequestDtoCollectionQueryParameters SigningRequestDtoCollectionQueryParameters) ApiGetSigningRequestsCountAsyncRequest {
	r.signingRequestDtoCollectionQueryParameters = &signingRequestDtoCollectionQueryParameters
	return r
}

func (r ApiGetSigningRequestsCountAsyncRequest) Execute() (*Int32Envelope, *http.Response, error) {
	return r.ApiService.GetSigningRequestsCountAsyncExecute(r)
}

/*
GetSigningRequestsCountAsync Get signing requests count

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSigningRequestsCountAsyncRequest
*/
func (a *SigningRequestsAPIService) GetSigningRequestsCountAsync(ctx context.Context) ApiGetSigningRequestsCountAsyncRequest {
	return ApiGetSigningRequestsCountAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Int32Envelope
func (a *SigningRequestsAPIService) GetSigningRequestsCountAsyncExecute(r ApiGetSigningRequestsCountAsyncRequest) (*Int32Envelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Int32Envelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.GetSigningRequestsCountAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/Count"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.signingRequestDtoCollectionQueryParameters
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrepareAndCreateAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	apiVersion *string
	xApiVersion *string
	file *os.File
	title *string
	contactId *string
	routingMode *string
	expiresAtUtc *time.Time
	message *string
	correlationId *string
	externalReference *string
	signers *string
}

func (r ApiPrepareAndCreateAsyncRequest) TenantId(tenantId string) ApiPrepareAndCreateAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) ApiVersion(apiVersion string) ApiPrepareAndCreateAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) XApiVersion(xApiVersion string) ApiPrepareAndCreateAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) File(file *os.File) ApiPrepareAndCreateAsyncRequest {
	r.file = file
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) Title(title string) ApiPrepareAndCreateAsyncRequest {
	r.title = &title
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) ContactId(contactId string) ApiPrepareAndCreateAsyncRequest {
	r.contactId = &contactId
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) RoutingMode(routingMode string) ApiPrepareAndCreateAsyncRequest {
	r.routingMode = &routingMode
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) ExpiresAtUtc(expiresAtUtc time.Time) ApiPrepareAndCreateAsyncRequest {
	r.expiresAtUtc = &expiresAtUtc
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) Message(message string) ApiPrepareAndCreateAsyncRequest {
	r.message = &message
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) CorrelationId(correlationId string) ApiPrepareAndCreateAsyncRequest {
	r.correlationId = &correlationId
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) ExternalReference(externalReference string) ApiPrepareAndCreateAsyncRequest {
	r.externalReference = &externalReference
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) Signers(signers string) ApiPrepareAndCreateAsyncRequest {
	r.signers = &signers
	return r
}

func (r ApiPrepareAndCreateAsyncRequest) Execute() (*SigningRequestDto, *http.Response, error) {
	return r.ApiService.PrepareAndCreateAsyncExecute(r)
}

/*
PrepareAndCreateAsync Create, store, freeze a document and open a signing request in one call

Server-owned flow (T-UX4): creates a SignedDocument from the uploaded source, stores it, freezes it, then creates a signing request over the frozen artifact and attaches its signers — all in one unit of work. Evidence truth (status/hashes/ids/tokens) is server-produced; the caller supplies intent only. The server generates the new document id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrepareAndCreateAsyncRequest
*/
func (a *SigningRequestsAPIService) PrepareAndCreateAsync(ctx context.Context) ApiPrepareAndCreateAsyncRequest {
	return ApiPrepareAndCreateAsyncRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SigningRequestDto
func (a *SigningRequestsAPIService) PrepareAndCreateAsyncExecute(r ApiPrepareAndCreateAsyncRequest) (*SigningRequestDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SigningRequestDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.PrepareAndCreateAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/prepare-and-create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return localVarReturnValue, nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "title", r.title, "form", "")
	}
	if r.contactId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "contactId", r.contactId, "form", "")
	}
	if r.routingMode != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "routingMode", r.routingMode, "form", "")
	}
	if r.expiresAtUtc != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expiresAtUtc", r.expiresAtUtc, "form", "")
	}
	if r.message != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "message", r.message, "form", "")
	}
	if r.correlationId != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "correlationId", r.correlationId, "form", "")
	}
	if r.externalReference != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "externalReference", r.externalReference, "form", "")
	}
	if r.signers != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "signers", r.signers, "form", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSendAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
}

func (r ApiSendAsyncRequest) TenantId(tenantId string) ApiSendAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiSendAsyncRequest) ApiVersion(apiVersion string) ApiSendAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiSendAsyncRequest) XApiVersion(xApiVersion string) ApiSendAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiSendAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.SendAsyncExecute(r)
}

/*
SendAsync Send a signing request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSendAsyncRequest
*/
func (a *SigningRequestsAPIService) SendAsync(ctx context.Context, id string) ApiSendAsyncRequest {
	return ApiSendAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SigningRequestsAPIService) SendAsyncExecute(r ApiSendAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.SendAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}/send"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiVoidAsyncRequest struct {
	ctx context.Context
	ApiService *SigningRequestsAPIService
	tenantId *string
	id string
	apiVersion *string
	xApiVersion *string
	voidSigningRequestDto *VoidSigningRequestDto
}

func (r ApiVoidAsyncRequest) TenantId(tenantId string) ApiVoidAsyncRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiVoidAsyncRequest) ApiVersion(apiVersion string) ApiVoidAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiVoidAsyncRequest) XApiVersion(xApiVersion string) ApiVoidAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiVoidAsyncRequest) VoidSigningRequestDto(voidSigningRequestDto VoidSigningRequestDto) ApiVoidAsyncRequest {
	r.voidSigningRequestDto = &voidSigningRequestDto
	return r
}

func (r ApiVoidAsyncRequest) Execute() (*http.Response, error) {
	return r.ApiService.VoidAsyncExecute(r)
}

/*
VoidAsync Void a signing request

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiVoidAsyncRequest
*/
func (a *SigningRequestsAPIService) VoidAsync(ctx context.Context, id string) ApiVoidAsyncRequest {
	return ApiVoidAsyncRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SigningRequestsAPIService) VoidAsyncExecute(r ApiVoidAsyncRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SigningRequestsAPIService.VoidAsync")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/TrustService/SigningRequests/{id}/void"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tenantId == nil {
		return nil, reportError("tenantId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/xml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.voidSigningRequestDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
