/*
StorageService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// RadzenEditorAPIService RadzenEditorAPI service
type RadzenEditorAPIService service

type ApiRadzenUploadImageRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	tenantId string
	visibility *string
	socialProfileId *string
	purpose *string
	apiVersion *string
	xApiVersion *string
	file *os.File
}

func (r ApiRadzenUploadImageRequest) Visibility(visibility string) ApiRadzenUploadImageRequest {
	r.visibility = &visibility
	return r
}

func (r ApiRadzenUploadImageRequest) SocialProfileId(socialProfileId string) ApiRadzenUploadImageRequest {
	r.socialProfileId = &socialProfileId
	return r
}

func (r ApiRadzenUploadImageRequest) Purpose(purpose string) ApiRadzenUploadImageRequest {
	r.purpose = &purpose
	return r
}

func (r ApiRadzenUploadImageRequest) ApiVersion(apiVersion string) ApiRadzenUploadImageRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadImageRequest) XApiVersion(xApiVersion string) ApiRadzenUploadImageRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadImageRequest) File(file *os.File) ApiRadzenUploadImageRequest {
	r.file = file
	return r
}

func (r ApiRadzenUploadImageRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadImageExecute(r)
}

/*
RadzenUploadImage Upload an editor image to tenant storage.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiRadzenUploadImageRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadImage(ctx context.Context, tenantId string) ApiRadzenUploadImageRequest {
	return ApiRadzenUploadImageRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadImageExecute(r ApiRadzenUploadImageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadImage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/tenants/{tenantId}/upload/image"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.socialProfileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "socialProfileId", r.socialProfileId, "form", "")
	}
	if r.purpose != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "purpose", r.purpose, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRadzenUploadImageScopedRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	tenantId string
	recordType string
	recordId string
	visibility *string
	socialProfileId *string
	purpose *string
	apiVersion *string
	xApiVersion *string
	file *os.File
}

func (r ApiRadzenUploadImageScopedRequest) Visibility(visibility string) ApiRadzenUploadImageScopedRequest {
	r.visibility = &visibility
	return r
}

func (r ApiRadzenUploadImageScopedRequest) SocialProfileId(socialProfileId string) ApiRadzenUploadImageScopedRequest {
	r.socialProfileId = &socialProfileId
	return r
}

func (r ApiRadzenUploadImageScopedRequest) Purpose(purpose string) ApiRadzenUploadImageScopedRequest {
	r.purpose = &purpose
	return r
}

func (r ApiRadzenUploadImageScopedRequest) ApiVersion(apiVersion string) ApiRadzenUploadImageScopedRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadImageScopedRequest) XApiVersion(xApiVersion string) ApiRadzenUploadImageScopedRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadImageScopedRequest) File(file *os.File) ApiRadzenUploadImageScopedRequest {
	r.file = file
	return r
}

func (r ApiRadzenUploadImageScopedRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadImageScopedExecute(r)
}

/*
RadzenUploadImageScoped Upload an editor image scoped to a record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param recordType
 @param recordId
 @return ApiRadzenUploadImageScopedRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadImageScoped(ctx context.Context, tenantId string, recordType string, recordId string) ApiRadzenUploadImageScopedRequest {
	return ApiRadzenUploadImageScopedRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		recordType: recordType,
		recordId: recordId,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadImageScopedExecute(r ApiRadzenUploadImageScopedRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadImageScoped")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/image"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recordType"+"}", url.PathEscape(parameterValueToString(r.recordType, "recordType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recordId"+"}", url.PathEscape(parameterValueToString(r.recordId, "recordId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.socialProfileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "socialProfileId", r.socialProfileId, "form", "")
	}
	if r.purpose != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "purpose", r.purpose, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRadzenUploadSingleRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	tenantId string
	apiVersion *string
	xApiVersion *string
	file *os.File
}

func (r ApiRadzenUploadSingleRequest) ApiVersion(apiVersion string) ApiRadzenUploadSingleRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadSingleRequest) XApiVersion(xApiVersion string) ApiRadzenUploadSingleRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadSingleRequest) File(file *os.File) ApiRadzenUploadSingleRequest {
	r.file = file
	return r
}

func (r ApiRadzenUploadSingleRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadSingleExecute(r)
}

/*
RadzenUploadSingle Upload a single editor file to tenant storage.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiRadzenUploadSingleRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadSingle(ctx context.Context, tenantId string) ApiRadzenUploadSingleRequest {
	return ApiRadzenUploadSingleRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadSingleExecute(r ApiRadzenUploadSingleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadSingle")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/tenants/{tenantId}/upload/single"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRadzenUploadSingleScopedRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	tenantId string
	recordType string
	recordId string
	apiVersion *string
	xApiVersion *string
	file *os.File
}

func (r ApiRadzenUploadSingleScopedRequest) ApiVersion(apiVersion string) ApiRadzenUploadSingleScopedRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadSingleScopedRequest) XApiVersion(xApiVersion string) ApiRadzenUploadSingleScopedRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadSingleScopedRequest) File(file *os.File) ApiRadzenUploadSingleScopedRequest {
	r.file = file
	return r
}

func (r ApiRadzenUploadSingleScopedRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadSingleScopedExecute(r)
}

/*
RadzenUploadSingleScoped Upload a single editor file scoped to a record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param recordType
 @param recordId
 @return ApiRadzenUploadSingleScopedRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadSingleScoped(ctx context.Context, tenantId string, recordType string, recordId string) ApiRadzenUploadSingleScopedRequest {
	return ApiRadzenUploadSingleScopedRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		recordType: recordType,
		recordId: recordId,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadSingleScopedExecute(r ApiRadzenUploadSingleScopedRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadSingleScoped")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/single"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recordType"+"}", url.PathEscape(parameterValueToString(r.recordType, "recordType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recordId"+"}", url.PathEscape(parameterValueToString(r.recordId, "recordId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRadzenUploadStreamRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	tenantId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRadzenUploadStreamRequest) ApiVersion(apiVersion string) ApiRadzenUploadStreamRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadStreamRequest) XApiVersion(xApiVersion string) ApiRadzenUploadStreamRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadStreamRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadStreamExecute(r)
}

/*
RadzenUploadStream Chunked editor upload (not implemented).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @return ApiRadzenUploadStreamRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadStream(ctx context.Context, tenantId string) ApiRadzenUploadStreamRequest {
	return ApiRadzenUploadStreamRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadStreamExecute(r ApiRadzenUploadStreamRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadStream")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/tenants/{tenantId}/upload/stream"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRadzenUploadStreamScopedRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	tenantId string
	recordType string
	recordId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiRadzenUploadStreamScopedRequest) ApiVersion(apiVersion string) ApiRadzenUploadStreamScopedRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadStreamScopedRequest) XApiVersion(xApiVersion string) ApiRadzenUploadStreamScopedRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadStreamScopedRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadStreamScopedExecute(r)
}

/*
RadzenUploadStreamScoped Chunked editor upload scoped to a record (not implemented).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId
 @param recordType
 @param recordId
 @return ApiRadzenUploadStreamScopedRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadStreamScoped(ctx context.Context, tenantId string, recordType string, recordId string) ApiRadzenUploadStreamScopedRequest {
	return ApiRadzenUploadStreamScopedRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		recordType: recordType,
		recordId: recordId,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadStreamScopedExecute(r ApiRadzenUploadStreamScopedRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadStreamScoped")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/stream"
	localVarPath = strings.Replace(localVarPath, "{"+"tenantId"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recordType"+"}", url.PathEscape(parameterValueToString(r.recordType, "recordType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recordId"+"}", url.PathEscape(parameterValueToString(r.recordId, "recordId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRadzenUploadUserImageRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	visibility *string
	socialProfileId *string
	purpose *string
	apiVersion *string
	xApiVersion *string
	file *os.File
}

func (r ApiRadzenUploadUserImageRequest) Visibility(visibility string) ApiRadzenUploadUserImageRequest {
	r.visibility = &visibility
	return r
}

func (r ApiRadzenUploadUserImageRequest) SocialProfileId(socialProfileId string) ApiRadzenUploadUserImageRequest {
	r.socialProfileId = &socialProfileId
	return r
}

func (r ApiRadzenUploadUserImageRequest) Purpose(purpose string) ApiRadzenUploadUserImageRequest {
	r.purpose = &purpose
	return r
}

func (r ApiRadzenUploadUserImageRequest) ApiVersion(apiVersion string) ApiRadzenUploadUserImageRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadUserImageRequest) XApiVersion(xApiVersion string) ApiRadzenUploadUserImageRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadUserImageRequest) File(file *os.File) ApiRadzenUploadUserImageRequest {
	r.file = file
	return r
}

func (r ApiRadzenUploadUserImageRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadUserImageExecute(r)
}

/*
RadzenUploadUserImage Upload an editor image to user storage.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRadzenUploadUserImageRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadUserImage(ctx context.Context) ApiRadzenUploadUserImageRequest {
	return ApiRadzenUploadUserImageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadUserImageExecute(r ApiRadzenUploadUserImageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadUserImage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/users/upload/image"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.socialProfileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "socialProfileId", r.socialProfileId, "form", "")
	}
	if r.purpose != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "purpose", r.purpose, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRadzenUploadUserImageScopedRequest struct {
	ctx context.Context
	ApiService *RadzenEditorAPIService
	recordType string
	recordId string
	visibility *string
	socialProfileId *string
	purpose *string
	apiVersion *string
	xApiVersion *string
	file *os.File
}

func (r ApiRadzenUploadUserImageScopedRequest) Visibility(visibility string) ApiRadzenUploadUserImageScopedRequest {
	r.visibility = &visibility
	return r
}

func (r ApiRadzenUploadUserImageScopedRequest) SocialProfileId(socialProfileId string) ApiRadzenUploadUserImageScopedRequest {
	r.socialProfileId = &socialProfileId
	return r
}

func (r ApiRadzenUploadUserImageScopedRequest) Purpose(purpose string) ApiRadzenUploadUserImageScopedRequest {
	r.purpose = &purpose
	return r
}

func (r ApiRadzenUploadUserImageScopedRequest) ApiVersion(apiVersion string) ApiRadzenUploadUserImageScopedRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiRadzenUploadUserImageScopedRequest) XApiVersion(xApiVersion string) ApiRadzenUploadUserImageScopedRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRadzenUploadUserImageScopedRequest) File(file *os.File) ApiRadzenUploadUserImageScopedRequest {
	r.file = file
	return r
}

func (r ApiRadzenUploadUserImageScopedRequest) Execute() (*http.Response, error) {
	return r.ApiService.RadzenUploadUserImageScopedExecute(r)
}

/*
RadzenUploadUserImageScoped Upload a user editor image scoped to a record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param recordType
 @param recordId
 @return ApiRadzenUploadUserImageScopedRequest
*/
func (a *RadzenEditorAPIService) RadzenUploadUserImageScoped(ctx context.Context, recordType string, recordId string) ApiRadzenUploadUserImageScopedRequest {
	return ApiRadzenUploadUserImageScopedRequest{
		ApiService: a,
		ctx: ctx,
		recordType: recordType,
		recordId: recordId,
	}
}

// Execute executes the request
func (a *RadzenEditorAPIService) RadzenUploadUserImageScopedExecute(r ApiRadzenUploadUserImageScopedRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RadzenEditorAPIService.RadzenUploadUserImageScoped")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/fs/radzen/users/{recordType}/{recordId}/upload/image"
	localVarPath = strings.Replace(localVarPath, "{"+"recordType"+"}", url.PathEscape(parameterValueToString(r.recordType, "recordType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"recordId"+"}", url.PathEscape(parameterValueToString(r.recordId, "recordId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.socialProfileId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "socialProfileId", r.socialProfileId, "form", "")
	}
	if r.purpose != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "purpose", r.purpose, "form", "")
	}
	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
