/*
MarketingService

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0.0
Contact: support@fenix-alliance.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TrackingPixelsAPIService TrackingPixelsAPI service
type TrackingPixelsAPIService service

type ApiGetTrackingPixelAsyncRequest struct {
	ctx context.Context
	ApiService *TrackingPixelsAPIService
	pixelId string
	apiVersion *string
	xApiVersion *string
}

func (r ApiGetTrackingPixelAsyncRequest) ApiVersion(apiVersion string) ApiGetTrackingPixelAsyncRequest {
	r.apiVersion = &apiVersion
	return r
}

func (r ApiGetTrackingPixelAsyncRequest) XApiVersion(xApiVersion string) ApiGetTrackingPixelAsyncRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetTrackingPixelAsyncRequest) Execute() (*OrderDtoEnvelope, *http.Response, error) {
	return r.ApiService.GetTrackingPixelAsyncExecute(r)
}

/*
GetTrackingPixelAsync Get a tracking pixel

Retrieves a tracking pixel by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pixelId
 @return ApiGetTrackingPixelAsyncRequest
*/
func (a *TrackingPixelsAPIService) GetTrackingPixelAsync(ctx context.Context, pixelId string) ApiGetTrackingPixelAsyncRequest {
	return ApiGetTrackingPixelAsyncRequest{
		ApiService: a,
		ctx: ctx,
		pixelId: pixelId,
	}
}

// Execute executes the request
//  @return OrderDtoEnvelope
func (a *TrackingPixelsAPIService) GetTrackingPixelAsyncExecute(r ApiGetTrackingPixelAsyncRequest) (*OrderDtoEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrderDtoEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrackingPixelsAPIService.GetTrackingPixelAsync")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/MarketingService/TrackingPixels/{pixelId}"
	localVarPath = strings.Replace(localVarPath, "{"+"pixelId"+"}", url.PathEscape(parameterValueToString(r.pixelId, "pixelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.apiVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "api-version", r.apiVersion, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
